<div>
    <app-header></app-header>
</div>
<br><br><br><br>
<div class=" background">
    <div class="container d-flex p-5 justify-content-center align-items-center ">
        <form class="col-5 m-auto rounded p-4 bg-light ">
            <div class="text-center color-text">
                <h4>QUÊN MẬT KHẨU</h4>
            </div>
            <div class="mb-3 ">
            <input type="email" class="form-control border border-black shadow-none" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập mật khẩu mới:"><br>
            <p ><i>Mật khẩu tối thiểu từ 6-12 ký tự bao gồm 1 ký tự in hoa và 1 ký tự đặc biệt</i></p>
            </div>
            <div class="mb-3">
            <input type="text" class="form-control border border-black shadow-none" id="exampleInputPassword1" placeholder="Nhập lại mật khẩu mới:"> <br>

            </div>
            <button type="submit" class="btn btn-blue text-white col-12" (click)="toCompleted()">Hoàn thành</button>
        </form>
    </div>
</div>

<div>
    <app-footer></app-footer>
</div>
